.xmlviewer pre {
    font: inherit;
    color: inherit;
    white-space: inherit;
    margin: 0 0 0 5ch;
}

.xmlviewer pre[id]:before,
.xmlviewer span[id]:before {
    content: counter(line) " ";
    counter-increment: line;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    width: 5ch;
    margin: 0 0 0 -5ch;
    text-align: right;
    color: #ccc;
    font-weight: normal;
    font-style: normal;
}

.xmlviewer .start-tag {
    color: purple;
    font-weight: bold;
}

.xmlviewer .end-tag {
    color: purple;
    font-weight: bold;
}

.xmlviewer .comment {
    color: green;
    font-style: italic;
}

.xmlviewer .cdata {
    color: #CC0066;
}

.xmlviewer .doctype {
    color: steelblue;
    font-style: italic;
}

.xmlviewer .entity {
    color: #FF4500;
    font-weight: normal;
}

.xmlviewer .text {
    font-weight: normal;
}

.xmlviewer .attribute-name {
    color: black;
    font-weight: bold;
}

.xmlviewer .attribute-value {
    color: blue;
    font-weight: normal;
}

.xmlviewer .markupdeclaration {
    color: steelblue;
    font-style: italic;
}

.xmlviewer span:not(.error), a:not(.error) {
    unicode-bidi: embed;
}

.xmlviewer span[id] {
    unicode-bidi: normal;/*-moz-isolate;*/
}

.xmlviewer .error,
{
    color: red;
    font-weight: bold;
}

.xmlviewer .expander-content {
    padding-left: 1em;
}

.xmlviewer .expander {
    font-weight: bold;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
    vertical-align: top;
    width: 1em;
    display: inline-block;
    margin-left: -1em;
}

.xmlviewer .expander-closed > .expander-content {
    display: none;
}

.xmlviewer .comment {
    font-family: monospace;
    white-space: pre;
}